
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Gencpa" />
    <link rel="shortcut icon" href="../assets/global/img/favicon.png" />
    <meta itemprop="name" content="@ViewData["Title"]" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon.png" />

    <title>Yönetim Paneli</title>
    <!-- Custom CSS -->
    <link href="/admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/admin/dist/css/style.min.css" rel="stylesheet" />
    <link href="/admin/dist/stil.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css" />
    @*<link href="/admin/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admin/assets/libs/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/admin/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/admin/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


    <meta name="theme-color" content="#ffffff" />
    @RenderSection("Styles", false)
    <style type="text/css">
        .first-level .has-arrow::after {
            top: 16px;
        }
    </style>
</head>


<body>
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/Home/Index">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->


                            <img src="/admin/images/logo.png" alt="AdminPanel" style="width:100%" class="light-logo" />

                        </b>

                    </a>

                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>

                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>

                    </ul>

                    <ul class="navbar-nav float-right">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/admin/images/user.png" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">


                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Home/Index" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Genel Bakış</span></a></li>
                        @if (CurrentSession.Roles.Contains("Yonetim"))
                        {
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-database"></i><span class="hide-menu">Sistem Tanımları  </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/Item/Index" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Malzemeler  </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/1" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Müşteri Tipi </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/2" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Müşteri Türü  </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/3" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Müşteri Durumu </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/4" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Müşteri Sınıfı</span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/5" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Bölge </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/6" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Depo </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/7" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Ödeme Tipi </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/8" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Teslimat Tipi</span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/9" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Banka Bilgilerimiz IBAN</span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/10" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Kargo Bilgileri </span></a></li>
                            <li class="sidebar-item"><a href="/Configure/Index/11" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Notlar </span></a></li>
                            <li class="sidebar-item"><a href="/Settings/Update" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Gençpa</span></a></li>

                        </ul>
                    </li>}

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">Satış</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">

                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="Sale" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Sipariş Listem</span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="Tahsilatraporu" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Tahsilat raporu </span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="fibabank" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Fibabank </span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="cariekstre" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Cari Ekstresi </span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="gtstemsilci" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Bayi Sözleşmeleri </span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="iade" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">İade Raporu </span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="ciro" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Temsilci Ciro</span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="satisanaliz" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Satış Analiz</span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="top5" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Top 5 Satış</span></a></li>

                                @if (CurrentSession.Roles.Contains("Yonetim"))
                                {
                            <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="Alis" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Aliş</span></a></li>}
                            </ul>
                        </li>
                        @if (CurrentSession.Roles.Contains("Yonetim"))
                        {
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">Finans Raporları</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">

                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="aylikkarne" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Aylık Karne</span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="yillikkarne" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Yıllık Karne</span></a></li>

                            </ul>
                        </li>}
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">Satış Raporları</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">

                                <li class="sidebar-item"><a asp-controller="ErpReport" asp-action="bayiperformans" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Bayi Performans</span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpReport" asp-action="personelperformans" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Personel Performans</span></a></li>

                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">Performans</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">

                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="kisiay" target="_blank" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Kişi/Ay</span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="kisigun" target="_blank" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Kişi/Gün</span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="markaay" target="_blank" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Marka/Ay </span></a></li>
                                <li class="sidebar-item"><a asp-controller="ErpSales" asp-action="markagun" target="blank" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Marka/Gün</span></a></li>



                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-users"></i><span class="hide-menu">Müşteri </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a asp-controller="Customer" asp-action="AddCustomer" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Müşteri Tanımlama</span></a></li>
                                <li class="sidebar-item"><a asp-controller="Customer" asp-action="GetAllCustomers" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Müşteri Listem</span></a></li>
                                @if (CurrentSession.Roles.Contains("Yonetim"))
                                {
                    <li class="sidebar-item"><a href="/Customer/CustomerConfirmation" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Cari Onay </span></a></li>}
                                <li class="sidebar-item"><a href="/BigData/Index" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Potansiyel Bayi Listem </span></a></li>
                            </ul>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-shopping-cart"></i><span class="hide-menu">Sipariş </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a asp-controller="Order" asp-action="NewOrder" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Sipariş Oluştur</span></a></li>
                                <li class="sidebar-item"><a asp-controller="Order" asp-action="Index" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Sipariş Listem </span></a></li>
                                @if (CurrentSession.Roles.Contains("Yonetim"))
                                {
                    <li class="sidebar-item"><a asp-controller="Order" asp-action="OrderConfirmation" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Sipariş Onay </span></a></li>}
                                <li class="sidebar-item"><a asp-controller="Order" asp-action="StockControl" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Stok Durumu  </span></a></li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="ErpSales" asp-action="imei" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">IMEI Sorgulama</span></a>
                        </li>
                        <li class="sidebar-item">
                            <a asp-controller="ErpSales" asp-action="kargo" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Kargo</span></a>
                        </li>
                        @if (CurrentSession.Roles.Contains("Yonetim"))
                        {
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Kullanıcılar </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a asp-controller="AppUser" asp-action="GetAllAppUsers" class="sidebar-link"><i class="fas fa-angle-double-right"></i><span class="hide-menu">Kullanıcılar</span></a></li>
                            <li class="sidebar-item"><a asp-controller="AppUser" asp-action="Add" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Kullanıcı Ekle </span></a></li>


                        </ul>
                    </li>}
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark" href="/Home/Gencpa" aria-expanded="false"><i class="fas fa-book"></i><span class="hide-menu">GENÇPA </span></a>

                        </li>
                        <li class="sidebar-item"><a asp-controller="Auth" asp-action="Logout" class="sidebar-link"><i class="fas fa-angle-double-right "></i><span class="hide-menu">Çıkış </span></a></li>






                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="min-height:900px">

            @RenderBody()
            <footer class="footer text-center">
                <a href="" target="_blank">
                    <img src="http://one.com/uploads/domainfiles/one.com/logo.png" alt="" style="height: 10px" />
                </a>
            </footer>
        </div>
    </div>
    <!-- ============================================================== -->

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div class="modal fade" id="alertmodal" role="dialog" style="z-index:2000">
        <div class="modal-dialog shadow">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default alertmodelclose" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmmodal" role="dialog">
        <div class="modal-dialog shadow">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default alertmodelclose" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <input id="elementid" value="@CurrentSession.Name" hidden />
    <script>
           var isyonetim = "@CurrentSession.Roles.Contains("Yonetim")";
    </script>
    <script src="/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/admin/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/admin/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/admin/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/admin/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="/admin/assets/libs/flot/excanvas.js"></script>
    <script src="/admin/assets/libs/flot/jquery.flot.js"></script>
    <script src="/admin/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="/admin/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="/admin/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="/admin/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="/admin/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

    <script src="/admin/assets/extra-libs/multicheck/jquery.multicheck.js"></script>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    @*<script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>*@
    <script src="~/admin/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/admin/assets/libs/moment/min/moment-with-locales.min.js"></script>
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/admin/assets/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.tr.min.js"></script>
    <script src="/admin/assets/libs/toastr/build/toastr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    @*<script src="/admin/assets/datatables/datatables.defaults.js"></script>*@
    <script src="/admin/dist/scripts.js"></script>

    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
    <div class="modal fade picturecropper" id="picturemodal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width:99%; height:70vh; top:0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" id="crop">Kes ve Kaydet</button>&nbsp;
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                    </div>
                    <h5 class="modal-title" id="modalLabel">Resmi Kes</h5>

                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                    <div class="img-container">
                        <img id="image" alt="" src="/client/img/advance_feature_img.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="alert picturealert" role="alert"></div>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
</body>
</html>
