@model List<STOK_DURUM>

@{ ViewData["Title"] = "OrderConfirmation"; }

<div class="">
    <div class="">
        <!--Sipariş Listem Sayfası ve Sipariş Onay Sayfası-->
        <div class="col-md-12">

            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb" style="padding-top:30px;">
                <ol class="breadcrumb ">

                    <li class="breadcrumb-item active" aria-current="page ">
                        <h3>
                            Stok durumu
                        </h3>
                    </li>
                </ol>
            </nav>

        </div>
        <div class="bg-white  mt-4">
            <div class="row bg-white rounded">


                <hr class="container-fluid bg-light pl-5"  />
                <div class="col-sm-12" id="sonuc" style="display:none;">

                </div>
                <div class="col-sm-12">
                     <table id="recordtable" class="table table-sm table-striped table-bordered dataTable" style="width:100%; font-size:12px;">
                        <thead style="background-color:#1f2937; height:42px;">

                            <tr style="color:#F1F1F1; ">
                                <th class="pt-1 pb-1">Mal Kodu</th>
                                <th class="pt-1 pb-1"> Mal Adı </th>
                                <th class="pt-1 pb-1">MarkaKodu</th>
                                <th class="pt-1 pb-1"> MalzemeGrupKodu</th>
                                @if (CurrentSession.Roles.Contains("Yonetim"))
                                {
                    <th class="pt-1 pb-1"> Stok </th>
                                    <th class="pt-1 pb-1"> Bekleyen Sipariş(Logo) </th>
                                                    <th class="pt-1 pb-1"> Bekleyen Sipariş(Crm) </th>}
                                <th class="pt-1 pb-1"> Filli Stok </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>@item.Kod</td>
                    <td>@item.AD</td>
                    <td>@item.MarkaKodu</td>
                    <td>@item.MalzemeGrupKodu</td>
                    @if (CurrentSession.Roles.Contains("Yonetim"))
                    {
    <td>@item.STOK</td>
                        <td>@item.ONAYLI_SIP</td>
                                            <td>@item.Bekleyen_STOK</td>}
                    <td class="text-danger "><h4>@(item.STOK - item.Bekleyen_STOK- item.ONAYLI_SIP)</h4></td>
                </tr>}


                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var recordtable;
        var _defaulttablename = "bayiPerformansQuery";


        var tip;


        $(function () {

            $('#recordtable').DataTable({
                responsive: true,
                pageLength: 10,
                paging: true,
                searching: true,
                stateSave: true,
                buttons: [{
                    extend: 'excel',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                            search: 'none'
                        }
                    },
                    //the remaining buttons here
                }],
            });

            $(".dataTable tbody").on("click", "a.btnsearch", function () {
                var text = $(this).attr("data-text");
                $('input[type=search]').val(text);
                $('input[type=search]').keyup();
                if (marka == '' || marka == null) {
                    $('.filtre_silici').addClass('hidden');
                }
            });
        });

        /**/</script>


}