@model List<STOK_DURUM>

@{ ViewData["Title"] = "OrderConfirmation"; }

<div class="">
    <div class="">
        <!--Sipariş Listem Sayfası ve Sipariş Onay Sayfası-->
        <div class="bg-white  ">
            <h2 class="pt-3 pb-4 pl-4"><strong>Stok Durumu </strong><i class="fas fa-arrow-left  border p-2  rounded-circle border-primary text-primary float-right" style="margin-right:2%;"></i></h2>
        </div>
        <div class="bg-white  mt-4" style="margin-left:2%;margin-right:2%;">
            <div class="row bg-white rounded">


                <hr class="container-fluid bg-light pl-5" @*style="width:95%;"*@ />
                <div class="col-sm-12" id="sonuc" style="display:none;">

                </div>
                <div class="col-sm-12">
                    <table id="recordtable" class="table table-bordered pt-0 pb-0">
                        <thead class="thead-light ">
                            <tr>
                                <th class="pt-1 pb-1">Mal Kodu</th>
                                <th class="pt-1 pb-1"> Mal Adı </th>
                                <th class="pt-1 pb-1">MarkaKodu</th>
                                <th class="pt-1 pb-1"> MalzemeGrupKodu</th>
                                @if (CurrentSession.Roles.Contains("Yonetim"))
                                {
                                    <th class="pt-1 pb-1"> Stok </th>
                                    <th class="pt-1 pb-1"> Bekleyen Sipariş(Logo) </th>
                                    <th class="pt-1 pb-1"> Bekleyen Sipariş(Crm) </th>
                                }
                                    <th class="pt-1 pb-1"> Filli Stok </th>

                                </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Kod</td>
                                <td>@item.AD</td>
                                <td>@item.MarkaKodu</td>
                                <td>@item.MalzemeGrupKodu</td>
                                @if (CurrentSession.Roles.Contains("Yonetim"))
                                {
                                    <td>@item.STOK</td>
                                    <td>@item.ONAYLI_SIP</td>
                                    <td>@item.Bekleyen_STOK</td>
                                }
                                    <td class="text-danger "><h4>@(item.STOK - item.Bekleyen_STOK- item.ONAYLI_SIP)</h4></td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
              
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var recordtable;
        var _defaulttablename = "bayiPerformansQuery";


        var tip;


        $(function () {

            $('#recordtable').DataTable({
                responsive: true,
                pageLength: 10,
                paging: true,
                searching: true,
                stateSave: true,
                buttons: [{
                    extend: 'excel',
                    exportOptions: {
                        modifier: {
                            page: 'all',
                            search: 'none'
                        }
                    },
                    //the remaining buttons here 
                }],
            });

            $(".dataTable tbody").on("click", "a.btnsearch", function () {
                var text = $(this).attr("data-text");
                $('input[type=search]').val(text);
                $('input[type=search]').keyup();
                if (marka == '' || marka == null) {
                    $('.filtre_silici').addClass('hidden');
                }
            });
        });

        /**/</script>


}